---
layout: layouts/category.html
change: "daily"
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: "categories/{{ category | downcase | strip | slug }}/"
---

<div class="sticky-bar">
  <a href="/">Home</a> <span>/</span>
  <i class="fas fa-tags"></i>
  {{ category }}
</div>

<section class="top-heading">
  <h1>Latest stories on {{ category }}</h1>
</section>

<section>
  <!-- Adverts - AdsTerra -->
  <!-- 
    <div class="advertisement">
    <p>Adverts! Please take caution.</p>
    <script type="text/javascript">
      atOptions = {
        key: "a2c4e32cfde8c447bc8edbaa926f63e3",
        format: "iframe",
        height: 300,
        width: 160,
        params: {},
      };
      document.write(
        "<scr" +
          'ipt type="text/javascript" src="http' +
          (location.protocol === "https:" ? "s" : "") +
          '://dangerinsignificantinvent.com/a2c4e32cfde8c447bc8edbaa926f63e3/invoke.js"></scr' +
          "ipt>"
      );
    </script>
  </div>
   -->

  <div class="article-container">
    {% for blog in collections.categories[category] limit:30 %}
    <section class="article-card">
      <a class="article-link" href="{{ blog.url | url }}">
        <img src="{{ blog.data.thumbnail  }}" alt="{{ blog.data.caption }}" />
        <h2>{{ blog.data.title }}</h2>
      </a>

      <p class="footnote">
        <a href="/authors/{{ blog.data.author | slug }}">
          <i class="fas fa-user"></i>
          {{ blog.data.author }}.
        </a>

        <time datetime="{{ blog.date | dateIso }}">
          <i class="fas fa-calendar-alt"></i>
          {{ blog.data.publishAt | dateReadable }}.
        </time>
      </p>
    </section>
    {% endfor %}
  </div>

  <!-- Adverts - AdsTerra -->
  <!-- 
    <div class="advertisement">
    <p>Adverts! Please take caution.</p>
    <script
      async="async"
      data-cfasync="false"
      src="//dangerinsignificantinvent.com/9ad21db1c59d04b8310fa769415b4e1e/invoke.js"
    ></script>
    <div id="container-9ad21db1c59d04b8310fa769415b4e1e"></div>
  </div>
   -->
</section>
<!-- newsletter -->
{% include components/newsletter.html %}
