---
layout: layouts/home.html
headline: "Griot Digest"
keywords: " "
description: "Smart stories for your ideas"
change: "daily"
pagination:
  data: collections.posts
  size: 20
  alias: posts
  reverse: true
---

<div class="intro">
  <div class="categories">
    <ul>
      {% for category in collections.catList limit:15 %}
      <li>
        <a href="/categories/{{ category | slug }}.html">{{ category }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h1>The Griot Digest</h1>
    <p>Smart stories for your ideas</p>
  </div>
</div>

<section>
  <div class="article-container">
    {% for blog in posts %}
    <section class="article-card">
      <a class="article-link" href="{{ blog.url | url }}">
        <img src="{{ blog.data.thumbnail }}" alt="{{ blog.data.caption }}" />
        <h2>{{ blog.data.title }}</h2>
      </a>

      <p class="footnote">
        <a href="/authors/{{ blog.data.author | slug }}.html">
          <i class="fas fa-user"></i>
          {{ blog.data.author }}.
        </a>
        <a href="/categories/{{ blog.data.category | slug }}.html">
          <i class="fas fa-tags"></i>
          {{ blog.data.category }}.
        </a>
        <time datetime="{{ blog.date | dateIso }}">
          <i class="fas fa-calendar-alt"></i>
          {{ blog.data.publishAt | dateReadable }}.
        </time>
      </p>
    </section>
    {% endfor %}
  </div>
</section>
<section>{% include components/newsletter.html %}</section>
