<footer>
  <div class="foot-links">
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
      <li>
        <a
          href="mailto:advertise@griotdigest.com?subject=Let's talk about advertise.&body="
          >Advertise</a
        >
      </li>
      <li><a href="/policy/privacy">Privacy</a></li>
    </ul>
  </div>

  {% include components/social.html %}

  <div class="foot">
    <small>&copy;</small>
    <small id="newYear">
      <script>
        document.getElementById("newYear").innerHTML = new Date().getFullYear();
      </script>
      Griot Digest.
      <a href="https://github.com/delanyodevio/griotdigest#readme"
        >Visit Github page</a
      >
    </small>
  </div>
</footer>
