<header id="header">
  <div class="header">
    <a href="/" class="site-name">Griot Digest</a>
    <a href="#newsletter" class="newsletter">Newsletter</a>
  </div>

  <nav>
    <ul class="nav">
      <li id="icon" class="icon">
        Topics {% include components/topics.html %}
      </li>
      <li><a href="/about">About Us</a></li>
      <li class="social-nav">
        <ul>
          <li>
            <a href="https://twitter.com/griotstories">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://fb.me/griotstudio">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="mailto:hello@griotstudio.com">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="header-intro intro">
    <div class="categories">
      <ul>
        {% for category in collections.catList limit:15 %}
        <li>
          <a href="/categories/{{ category | slug }}.html">{{ category }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h1>The Griot Digest</h1>
      <p>stories for ideas</p>
    </div>
  </div>
</header>
