<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords }}" />
<meta name="author" content="delanyo agbenyo" />

<!-- social card -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:title" content="{{ headline }}" />
<meta property="og:image" content="https://griotdigest.com/images/logo.webp" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="Griot Digest" />
<meta property="og:locale" content="en_US" />

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@griotdigest" />
<meta name="twitter:creator" content="@delanyobott" />
<meta name="twitter:url" content="{{ page.url }}" />
<meta name="twitter:title" content="{{ headline }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="https://griotdigest.com/images/logo.webp" />
