<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<meta name="keywords" content="{{ keywords }}" />
<meta name="author" content="{{ author }}" />
<meta name="description" content="{{ summary | excerpt }}" />

<!-- social card -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:image" content="https://griotdigest.com/{{ thumbnail }}" />
config.addFilter("excerpt", (article) => {
<meta property="og:description" content="{{ summary | excerpt }}..." />
<meta property="og:site_name" content="Griot Digest" />
<meta property="og:locale" content="en_US" />

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@griotdigest" />
<meta name="twitter:url" content="{{ page.url }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ summary | excerpt  }}..." />
<meta name="twitter:image" content="https://griotdigest.com/{{ thumbnail }}" />
