<script
  defer
  src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"
></script>

<script
  defer
  src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"
></script>

<script
  defer
  src="https://www.gstatic.com/firebasejs/7.13.2/firebase-firestore.js"
></script>

<script defer src="/scripts/firebase.js"></script>
<script defer src="/scripts/author.js"></script>
<script defer src="/scripts/comment.js"></script>
<script defer src="/scripts/dropdown.js"></script>
<script defer src="/scripts/email.js"></script>
<script defer src="/scripts/sharer.js"></script>
<script defer src="/scripts/payments.js"></script>
