<div class="share-modal" id="shareModal">
  <p class="share-message">Share this story via:</p>
  <div class="share-link">
    <a href="https://facebook.com/sharer.php?u=griotdigest.com{{ page.url }}">
      <i class="fab fa-facebook-f"></i>
    </a>

    <a
      href="https://twitter.com/intent/tweet?url=griotdigest.com{{ page.url }}&text={{ title }}&via=griotstories"
    >
      <i class="fab fa-twitter"></i>
    </a>

    <a
      href="whatsapp://send?text=griotdigest.com{{ page.url }}"
      data-action="share/whatsapp/share"
    >
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>

  <div class="share-close">
    <span></span>
    <p id="closeShare">Close</p>
  </div>
</div>
