<small class="share">
  <div class="shared">
    <p class="share-message">
      <span>Please share via:</span>
      <i class="fas fa-times share-x" id="close"></i>
    </p>
    <div class="share-link">
      <a
        href="https://facebook.com/sharer.php?u=griotdigest.com{{ page.url }}"
        target="_blank"
        rel="noopener"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://twitter.com/intent/tweet?url=griotdigest.com{{ page.url }}&text={{ title }}&via=griotstories"
        target="_blank"
        rel="noopener"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        href="whatsapp://send?text=griotdigest.com{{ page.url }}"
        data-action="share/whatsapp/share"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
</small>
