<div class="social">
  <a href="https://twitter.com/griotstories">
    <i class="fab fa-twitter"></i>
    <span>Twitter</span>
  </a>

  <a href="https://fb.me/griotstudio">
    <i class="fab fa-facebook-f"></i>
    <span>Facebook</span>
  </a>

  <!-- 
    <a href="https://www.youtube.com/channel/UCDoB_iPrf4uyIGkaCsJsbug">
    <i class="fab fa-youtube"></i>
    <span>Youtube</span>
  </a>
   -->

  <!-- 
    <a href="https://instagram.com/griotstories">
    <i class="fab fa-instagram"></i>
    <span>Instagram</span>
  </a>
   -->

  <a href="mailto:hello@griotstudio.com">
    <i class="fas fa-envelope"></i>
    <span>Email</span>
  </a>
</div>
