<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    {% include components/meta-article.html %}

    <!-- Styles -->
    <link rel="stylesheet" href="../../../../../styles/intlTelInput.css" />

    <link rel="stylesheet" href="../../../../../styles/webfonts.css" />

    <link rel="stylesheet" href="../../../../../styles/styles.css" />
    <!-- ** Styles ** -->

    <!-- scripts -->
    {% include components/scripts.html %}
    <!-- ** scripts ** -->

    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Page header and navigation -->
    {% include components/header.html %}
    <!-- ** Page header end ** -->

    <!-- Main page -->
    <main>
      <div class="sticky-bar">
        <a href="/">Home</a> <span>/</span>
        <a href="/categories/{{ category | slug }}.html">
          <i class="fas fa-tags"></i>
          {{ category }}
        </a>
      </div>

      <section class="article">
        <article>
          <h2>{{ title }}</h2>

          <small class="article-tag">
            <a href="/authors/{{ author | slug }}.html">
              <i class="fas fa-user"></i>
              {{ author }}.
            </a>

            <i class="fas fa-share-alt" id="quickShare"></i>

            <time datetime="{{ publishAt | dateIso }}">
              <i class="fas fa-calendar-alt"></i>
              {{ publishAt | dateReadable }}.
            </time>
          </small>

          <figure>
            <img src="{{ thumbnail }}" alt="{{ caption }}" />
            <figcaption>{{ caption }}</figcaption>
          </figure>

          <!-- Adverts - AdsTerra -->
          <div class="advertisement">
            <p>Adverts ahead! Please take caution</p>
            <script type="text/javascript">
              atOptions = {
                key: "a2c4e32cfde8c447bc8edbaa926f63e3",
                format: "iframe",
                height: 300,
                width: 160,
                params: {},
              };
              document.write(
                "<scr" +
                  'ipt type="text/javascript" src="http' +
                  (location.protocol === "https:" ? "s" : "") +
                  '://dangerinsignificantinvent.com/a2c4e32cfde8c447bc8edbaa926f63e3/invoke.js"></scr' +
                  "ipt>"
              );
            </script>
          </div>

          {{ content | safe }}

          <button class="sharer">Share this story</button>
        </article>

        <!-- Adverts - AdsTerra -->
        <div class="advertisement">
          <p>Adverts ahead! Please take caution.</p>
          <script
            async="async"
            data-cfasync="false"
            src="//dangerinsignificantinvent.com/9ad21db1c59d04b8310fa769415b4e1e/invoke.js"
          ></script>
          <div id="container-9ad21db1c59d04b8310fa769415b4e1e"></div>
        </div>
      </section>

      <section class="article-flex">
        <div class="more-articles">
          <!-- author card -->
          {% include components/author.html %}

          <div>
            <!-- from the same author -->
            <h3>
              Also from
              <a href="/authors/{{ author | slug }}.html">
                {{ author | capitalize }}
              </a>
            </h3>
            <div>
              {% for item in collections.authors[author] limit:5 %} {% if
              item.url == page.url %} {% continue %} {% else %}
              <a href="{{ item.url | url }}" class="more-card">
                <img src="{{ item.data.thumbnail }}" alt="" />
                <h4>{{ item.data.title | short }}</h4>
              </a>
              {% endif %} {% endfor %}
            </div>

            <h3>
              Also in
              <a href="/categories/{{ category | slug }}.html">
                {{ category | capitalize }}
              </a>
            </h3>
            <div>
              {% for post in collections.categories[category] limit:5 %} {% if
              post.url == page.url %} {% continue %} {% else %}
              <a href="{{ post.url | url }}" class="more-card">
                <img src="{{ post.data.thumbnail }}" alt="" />
                <h4>{{ post.data.title | short }}</h4>
              </a>
              {% endif %} {% endfor %}
            </div>
          </div>

          <!-- Adverts - AdsTerra -->
          <div class="advertisement">
            <p>Adverts ahead! Please take caution.</p>
            <script type="text/javascript">
              atOptions = {
                key: "235fcdeffca47c78168c237566a0ebab",
                format: "iframe",
                height: 300,
                width: 160,
                params: {},
              };
              document.write(
                "<scr" +
                  'ipt type="text/javascript" src="http' +
                  (location.protocol === "https:" ? "s" : "") +
                  '://dangerinsignificantinvent.com/235fcdeffca47c78168c237566a0ebab/invoke.js"></scr' +
                  "ipt>"
              );
            </script>
          </div>
        </div>

        <div class="comment-card">
          <!--Comment form component-->
          <div>
            <!-- Posted comments -->
            <div class="posted-comments">
              <h4>Recent comments</h4>
              <p class="emphasis no-comment">
                There are no comments. You can add a comment from the form down
                bellow.
              </p>
              <ul id="posted-comments"></ul>
            </div>

            <!--Posting comments-->
            <div class="comment-form">
              <p class="comments-closed emphasis">
                This comment thread is closed. If you have important information
                to share, please
                <a href="/contact.html">contact us</a>
              </p>

              {% include components/comment.html %}
            </div>
          </div>
          {% include components/newsletter.html %}
        </div>
      </section>
    </main>
    <!-- ** Main page ** -->

    <!-- Page footer -->
    {% include components/footer.html %}
    <!-- ** Page footer ** -->

    <!-- share modal -->
    {% include components/sharer.html %}

    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/intlTelInput-jquery.js"></script>
    <script src="/scripts/intlTelInput.js"></script>
    <script src="/scripts/intlTelInit.js"></script>
    {% include components/cookie.html %}
  </body>
</html>
